body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 11rem auto;
}

body, html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: aqua;
    align-self: center;
    padding: 2rem 5rem;
    border-radius: 10px;
}

a {
    color: rgb(235, 21, 21);
}